<suite name="suite001">
<test name="test001">
<parameter name="petID"  value="344"/>
<classes>
<class name="restassuredscipts.ScriptMain"></class>
<class name="restassuredscipts.Script001POSTCall"></class>
<class name="restassuredscipts.Script002GETCall"></class>
<class name="restassuredscipts.Script003DeleteCall"></class>
</classes>
</test>
</suite>